#MSPA PREDICT 420

##Graded Exercise 5: Still Flying But How Many

###Introduction

This document presents the results of the forth graded exercise for the Masters of Science in Predictive Analytics course: PREDICT 420.

###Assessment

####1. Loading the Data

Load datasets into pandas dataframes.

In [1]:
import pandas as pd

df_passenger = pd.read_csv("data/2014+CY-YTD+Passenger+Raw+Data_2-1.csv", skiprows = [0], thousands = ",")
df_a2010 = pd.read_table("data/A2010_14.txt", encoding = "latin-1")
df_causefactors = pd.read_table("data/causefactors.txt", header = None)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (9,64,67,76,81) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

####2. Pre-process the Data

Set field names for 'passenger' dataframe.

In [2]:
df_passenger.columns = ["month",
                        "orgApt",
                        "destApt",
                        "orgWAC",
                        "destWAC",
                        "carrier",
                        "group",
                        "type",
                        "total",
                        "schedule",
                        "charter"]

Confirm dtypes for 'passenger' dataframe fields.

In [3]:
print(df_passenger.dtypes)

month        int64
orgApt      object
destApt     object
orgWAC       int64
destWAC      int64
carrier     object
group        int64
type        object
total        int64
schedule     int64
charter      int64
dtype: object

Print first five records for dataframes.

In [4]:
df_passenger.head(5)

,month,orgApt,destApt,orgWAC,destWAC,carrier,group,type,total,schedule,charter
0,201401,AEX,GUA,72,127,FCQ,1,Passengers,398,0,398
1,201401,AEX,GUA,72,127,XP,1,Passengers,68,0,68
2,201401,AEX,GYE,72,337,FCQ,1,Passengers,202,0,202
3,201401,AEX,MGA,72,153,FCQ,1,Passengers,17,0,17
4,201401,AEX,PAP,72,238,K8,1,Passengers,73,0,73

In [5]:
import pandas as pd

pd.set_option("display.max_columns", 180)

In [6]:
df_a2010.head(5)

,c5,c1,c2,c3,c4,c6,c7,c8,c9,c10,c75,c132,c134,c136,c138,c139,c140,c141,c144,c145,c147,c149,c151,c152,c153,c155,c157,c160,c162,c203,c204,c214,c233,c234,c790,c22,c23,c24,c25,c26,c27,c30,c31,c32,c33,c34,c35,c36,c37,c38,c39,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c102,c104,c106,c108,c110,c112,c113,c114,c115,c117,c118,c143,c240,c241,c242,c243,c61,c62,c63,c64,c65,c66,c67,c68,c69,c70,c71,c72,c73,c74,c76,c250,c205,c206,c207,c208,c210,c41,c43,c45,c47,c49,c50,c52,c53,c54,c55,c56,c57,c58,c59,c119,c120,c121,c122,c126,c127,c128,c129,c130,c78,c80,c82,c84,c86,c88,c90,c92,c94,c96,c98,c100,c111,c123,c124,c125,c184,c192,c244,c40,c44,c46,c48,c51,c77,c79,c81,c83,c85,c87,c89,c91,c93,c95,c97,c99,c101,c103,c105,c107,c109,c131,c133,c135,c137,c146,c148,c150,c154,c156,c158,c161,c163,c183,c191,c229,c230,end_of_record
0,20100101025609A,A,091,,,2010,01,01,20100101,1940,9,,,,,,,,,,,,NaN,,,,CV,,,197646,02560,,,,,2028U,MAULE,M-4-220C,,,,STRD,1599,*,,FRANKL,6V 350 SERIES,,,,,SW,SW17,TX,PEARSALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,20100706,NaN,NaN,NaN,20150131,01,N,NaN,NaN,NaN,NaN,NaN,25,NaN,13,300,NaN,NaN,NaN,PILOT STATED THAT HE COULD NOT FIND CRYSTAL CI...,N/A,,,,,,,,,,,,,,,,,EX,S,,,,,,,,,PRIVATE PILOT,,,,,,,,,,,,,,Descent,,,,,,,,,,,,,,,,,Wheeled-Conventional,,,,,NaN,NaN,
1,20100101025799A,A,137,,,2010,01,01,20100101,1142,9,,,,,,,,,,,,NaN,,,,SD,,,197802,02579,,,,,440NR,HILLER,UH-12E,,,,REST,8000,*,,LYCOMI,VO-540 SERIES,,,,,WP,WP17,CA,TIPTON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,20100706,NaN,NaN,NaN,20120525,03,N,NaN,NaN,NaN,NaN,NaN,5000,NaN,100,13000,NaN,NaN,NaN,WEATHER WAS OVERCAST FOR THE FIRST PART OF THE...,N/A,,,,,,,,,,,,,,,,,OT,S,,,,,,,,,COMMERCIAL PILOT,,,,,,,,,,,,,,"Other, Specify",,,,,,,,,,,,,,,,,Skids,,,,,19740916,NaN,
2,20100101025829I,I,091,,,2010,01,01,20100101,910,9,,,,,,,,1H72,1,H,7,2,3O,,,TR,,,197155,02582,,,,,303CP,CESSNA,560,,,,STRD,NaN,*,,P&W CA,JT15D 5 SER,,,,,NM,NM11,ID,HAILEY,FRIEDMAN MEMORIAL,NaN,KSUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KSUN,NaN,NaN,NaN,NaN,7,5,0,0,2,0,0,0,0,0,0,0,0,0,0,0,20100706,NaN,NaN,NaN,20150131,F9,N,NaN,NaN,NaN,NaN,NaN,376,NaN,50,9208,NaN,NaN,NaN,CREW WAS UNAWARE THAT THE GROUND CREW HAD BEGU...,N/A,,,,,,,,,,,,,,,,,TX,M,,,,,,,,,A/LINE TRANSPORT PLT,,,,,,,,,,,,,,Taxi,,,,,,,,,,,,UNDER 12501 LBS,MONOPLANE-HIGH WING/PARA WING,POWERED,,,Wheeled-Tricycle,,,,,NaN,NaN,
3,20100101030559I,I,091,,,2010,01,01,20100101,900,9,,,,,,,,1L72,1,L,7,2,3O,,,TR,,,197689,03055,,,,,3840X,BEECH,58,,,,STRD,4310,*,,CONT M,IO 520 SERIES,,,,,SW,SW31,MS,ROLLING FORK,NICK'S FLYING SERVICE INC AIRP,NaN,04MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04MS,NaN,NaN,NaN,NaN,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,20100706,NaN,NaN,NaN,20150131,03,N,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,FROM PILOT'S STATEMENT;LANDED AT ROLLING FORK ...,BRUCE WAYNE MILLER,,,,,,,,,,,,,,,,,TX,M,,,,,,,,,COMMERCIAL PILOT,,,,,,,,,,,,,,Taxi,,,,,,,,,,,,UNDER 12501 LBS,MONOPLANE-LOW WING,POWERED,,,Wheeled-Tricycle,,,,,NaN,NaN,
4,20100102026249I,I,091,,,2010,01,02,20100102,1258,9,,,,,,,,,,,,NaN,,,,TR,,,197712,02624,,,,,44730,PIPER,PA-34-200T,,,,STRD,NaN,*,,,,,,,,WP,WP05,CA,TORRANCE,NaN,NaN,KTOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KTOA,NaN,NaN,NaN,NaN,2,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,20100706,NaN,NaN,NaN,20120525,NaN,N,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,NaN,NaN,NaN,"ON JAN 2, 2010 JON MOWATT PNF (PILOT NOT FLYIN...",N/A,,,,,,,,32,,,,,,,,,LT,S,,,,,,,,,,,,,,3230,,,,,,,,,Landing: Touchdown,,,,,,,,,,,,,,,,,Wheeled-Tricycle,,,,,NaN,NaN,

In [7]:
import pandas as pd

pd.reset_option("display.max_columns")

In [8]:
df_causefactors.head(5)

   0    1                              2         3
0  0  NaN                        UNKNOWN       NaN
1  1   AA    FAIL ADVISE UNSAFE APT COND  APT/COND
2  2   AF   IMPROPER MAINTENANCE APT FAC   APT/FAC
3  3   AI  INADEQUATELY MAINTAIN AWY FAC   AWY/FAC
4  4   AL   DIDN'T FLY ASG ALT IFR CLRNS   ASG/ALT

####3. Departure and Arrival Statistics

For airports LAX, SFO, ATL, MIA, and JFK, determine how many passenger departures and arrivals there were during 2014.

In [9]:
apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

resultcols = ["Departures", 
              "Arrivals"]

results_df = pd.DataFrame([])

for a in apt:
    departures = df_passenger.loc[df_passenger["orgApt"] == a, "total"].sum()
    arrivals = df_passenger.loc[df_passenger["destApt"] == a, "total"].sum()
    temp_df = pd.DataFrame([[departures, arrivals]], index = [a], columns = resultcols)
    results_df = results_df.append(temp_df)

results_df

     Departures  Arrivals
LAX    18681107         0
SFO    10066556         0
ATL    10583444         0
MIA    20020381         0
JFK    27515961         0

For airports LAX, SFO, ATL, MIA, and JFK, determine which airline was the largest departure carrier.

In [10]:
apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

resultcols = ["Carrier", 
              "Departures"]

results_df = pd.DataFrame([])

for a in apt:
    df_temp = df_passenger
    df_temp = df_temp[df_temp["orgApt"] == a] # Return matches for desired airport.
    df_temp = df_temp.groupby(["carrier"])["total"].max() # Group based on max occurrences.
    df_temp = df_temp.sort_values(ascending = False) # Sort by descending occurrences.
    temp_df = pd.DataFrame([[df_temp.index[0], df_temp[0]]], index = [a], columns = resultcols)
    results_df = results_df.append(temp_df)
    
results_df = results_df.sort_values(by = "Departures", ascending = False)
results_df

    Carrier  Departures
JFK      BA      134263
LAX      AC       62504
ATL      DL       55480
MIA      AA       51349
SFO      AC       48917

For airports LAX, SFO, ATL, MIA, and JFK, determine which airline was the the largest arrival carrier.

In [11]:
#Note: No arrivals for each
apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

resultcols = ["Carrier", 
              "Arrivals"]

results_df = pd.DataFrame([])

for a in apt:
    df_temp = df_passenger
    df_temp = df_temp[df_temp["destApt"] == a] # Return matches for desired airport.
    df_temp = df_temp.groupby(["carrier"])["total"].max() # Group based on max occurrences.
    df_temp = df_temp.sort_values(ascending = False) # Sort by descending occurrences.
    #temp_df = pd.DataFrame([[df_temp.index[0], df_temp[0]]], index = [a], columns = resultcols)
    #results_df = results_df.append(temp_df)

#results_df = results_df.sort_values(by = "Arrivals", ascending = False)
results_df

Empty DataFrame
Columns: []
Index: []

For airports LAX, SFO, ATL, MIA, and JFK, determine what airports the largest number of departures went to.

In [12]:
apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

resultcols = ["Airport", 
              "Departures"]

results_df = pd.DataFrame([])

for a in apt:
    df_temp = df_passenger
    df_temp = df_temp[df_temp["orgApt"] == a] # Return matches for desired airport.
    df_temp = df_temp.groupby(["destApt"])["total"].sum() # Group based on number of occurrences.
    df_temp = df_temp.sort_values(ascending = False) # Sort by descending count of occurrences.
    temp_df = pd.DataFrame([[df_temp.index[0], df_temp[0]]], index = [a], columns = resultcols)
    results_df = results_df.append(temp_df)

results_df = results_df.sort_values(by = "Departures", ascending = False)
results_df

    Airport  Departures
JFK     LHR     2892396
LAX     LHR     1428718
MIA     GRU     1039120
SFO     LHR      911760
ATL     CUN      704666

For airports LAX, SFO, ATL, MIA, and JFK, determine what airports the largest number of arrivals were from.

In [13]:
#Note: No arrivals for each
apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

resultcols = ["Airport", 
              "Arrivals"]

results_df = pd.DataFrame([])

for a in apt:
    df_temp = df_passenger
    df_temp = df_temp[df_temp["destApt"] == a] # Return matches for desired airport.
    df_temp = df_temp.groupby(["orgApt"])["total"].sum() # Group based on number of occurrences.
    df_temp = df_temp.sort_values(ascending = False) # Sort by descending count of occurrences.
    #temp_df = pd.DataFrame([[df_temp.index[0], df_temp[0]]], index = [a], columns = resultcols)
    #results_df = results_df.append(temp_df)

#results_df = results_df.sort_values(by = "Arrivals", ascending = False)
results_df

Empty DataFrame
Columns: []
Index: []

####4. Accident and Fatality Statistics

For airports LAX, SFO, ATL, MIA, and JFK, determine the number of accidents or incidents that occurred at them between 2010 and 2014 inclusive, according to the FAA.

In [14]:
# c143                           Char               4 Airport identification code of the accident/incident location, if on airport.

apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

resultcols = ["Incidents"]

results_df = pd.DataFrame([])

for a in apt:
    incidents = len(df_a2010[df_a2010["c143"].str.contains(a, na = False)]) # Return count of matches for desired airport.
    temp_df = pd.DataFrame([[incidents]], index = [a], columns = resultcols) # Create dataframe of match count.
    results_df = results_df.append(temp_df) # Append match count to summary dataframe.

results_df = results_df.sort_values(by = "Incidents", ascending = False)
results_df

     Incidents
ATL         28
LAX         16
JFK         13
MIA         10
SFO          7

For airports LAX, SFO, ATL, MIA, and JFK, determine the number of deaths that occurred in each event.

In [15]:
# c76                            VarChar            3 Total Fatalities
# c78                            Char               2 Primary cause factor code
# c94                            Char               2 Type of accident code
# c143                           Char               4 Airport identification code of the accident/incident location, if on airport.

import numpy as np

apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

for a in apt:
    df_temp = df_a2010
    df_temp = df_temp[df_temp["c143"].str.contains(a, na = False)] # Return matches for desired airport.
    df_temp = df_temp[["c78", "c94", "c76"]] # Return relevant dataframe columns (see above).
    df_temp = df_temp.replace({"c78" : {np.NaN : "Unknown", "  " : "Unknown"}}) # Replace NaN and blank values with "Unknown".
    df_temp = df_temp.replace({"c94" : {np.NaN : "Unknown", "  " : "Unknown"}}) 
    df_temp.index.name = None
    df_temp.columns = ["causefactorCode", "accidentCode", "fatalities"]
    print(a, df_temp)
    print("")

LAX       causefactorCode accidentCode  fatalities
312           Unknown      Unknown           0
706           Unknown      Unknown           0
1475          Unknown      Unknown           0
1630               55      Unknown           0
2151          Unknown      Unknown           0
2498          Unknown      Unknown           0
2857          Unknown      Unknown           0
3847          Unknown      Unknown           0
5184          Unknown      Unknown           0
5264               32      Unknown           0
5615          Unknown      Unknown           0
5968               32      Unknown           0
6450          Unknown      Unknown           0
7764          Unknown      Unknown           0
9358          Unknown      Unknown           0
10495         Unknown      Unknown           0

SFO       causefactorCode accidentCode  fatalities
1721          Unknown      Unknown           0
1892          Unknown      Unknown           0
1954               71      Unknown           0
3150               57      Unknown           0
4208          Unknown      Unknown           0
5324               32      Unknown           0
10842         Unknown      Unknown           3

ATL       causefactorCode accidentCode  fatalities
7             Unknown      Unknown           0
25            Unknown      Unknown           0
42            Unknown      Unknown           0
95            Unknown      Unknown           0
152           Unknown      Unknown           0
159           Unknown      Unknown           0
173           Unknown      Unknown           0
210           Unknown      Unknown           0
220           Unknown      Unknown           0
223                78      Unknown           0
242           Unknown      Unknown           0
245           Unknown      Unknown           0
283           Unknown      Unknown           0
458           Unknown      Unknown           0
501           Unknown      Unknown           0
847                32      Unknown           0
848           Unknown      Unknown           0
2280          Unknown      Unknown           0
2631          Unknown      Unknown           0
3294          Unknown      Unknown           0
3948          Unknown      Unknown           0
4073          Unknown      Unknown           0
4257          Unknown      Unknown           0
5401               75      Unknown           0
6177          Unknown      Unknown           0
9593               14      Unknown           0
9636          Unknown      Unknown           0
10459         Unknown      Unknown           0

MIA      causefactorCode accidentCode  fatalities
43           Unknown      Unknown           0
875          Unknown      Unknown           0
2367         Unknown      Unknown           0
2466         Unknown      Unknown           0
2597         Unknown      Unknown           0
3433         Unknown      Unknown           0
3517         Unknown      Unknown           0
4158         Unknown      Unknown           0
4600              24      Unknown           0
8552              54      Unknown           0

JFK       causefactorCode accidentCode  fatalities
1557          Unknown      Unknown           0
1848          Unknown      Unknown           0
2081          Unknown      Unknown           0
3489          Unknown      Unknown           0
3493          Unknown      Unknown           0
3698          Unknown      Unknown           0
6538          Unknown      Unknown           0
7777          Unknown      Unknown           0
8819          Unknown      Unknown           0
8927          Unknown      Unknown           0
9037          Unknown      Unknown           0
9649          Unknown      Unknown           0
10646         Unknown      Unknown           0

For airports LAX, SFO, ATL, MIA, and JFK, determine what the top ten (primary) causes of 2010-2014 incidents and accidents are for all events resulting in deaths regardless of where they occurred. Provide descriptions (not codes) for the causes.

In [16]:
import numpy as np

df_a2010 = df_a2010.replace({"c78" : {np.NaN : 0,
                                      "  " : 0}}) # Replace NaN's and blanks within cause factor code column with zero digit.
df_a2010["c78"] = df_a2010["c78"].astype(int) # Convert cause factor code column to integer type.
df_causefactors = df_causefactors[[0, 2]] # Define relevant columns of cause factor code description dataframe.
causedict = df_causefactors.set_index(0).to_dict() # Convert cause factor code description dataframe to dictonary.

In [17]:
# c76                            VarChar            3 Total Fatalities
# c78                            Char               2 Primary cause factor code
# c143                           Char               4 Airport identification code of the accident/incident location, if on airport.

import numpy as np

apt = ["LAX", "SFO", "ATL", "MIA", "JFK"]

for a in apt:
    df_temp = df_a2010
    df_temp = df_temp[df_temp["c143"].str.contains(a, na = False)] # Return matches for desired airport.
    df_temp = df_temp[["c78", "c76"]] # Return relevant dataframe columns (see above).
    df_temp = df_temp.replace({"c78" : causedict[2]}) # Replace cause factor code values based on dictonary of descriptions.
    df_temp = df_temp.groupby(["c78"]).sum() # Group based on number of occurrences.
    df_temp = df_temp.sort_values(by = "c76", ascending = False) # Sort by descending count of occurrences.
    df_temp.columns = ["fatalities"]
    df_temp.index.name = None
    print(a, df_temp[0:10])
    print("")

LAX                                 fatalities
IMPROPER MGT/FUEL TANK SELECTO           0
INADEQ SPACE AC/WKE TURBULENCE           0
UNKNOWN                                  0

SFO                                 fatalities
UNKNOWN                                  3
AEROBATICS BELOW SAFE ALTITUDE           0
IMPROPER MGT/FUEL TANK SELECTO           0
IMPROPER OPERATION OF FAC                0

ATL                                 fatalities
FAIL TO ATTAIN PROPER OP TEMP            0
IMPROPER MGT/FUEL TANK SELECTO           0
ISSUED IMPR CONFLICTING INSTS            0
PILOT INCAP EXCLUDES ALCOHOL             0
UNKNOWN                                  0

MIA                                 fatalities
IMPROPER INST PROC T/O LDG               0
STARTED ENG W/OUT ASSIST/EQUIP           0
UNKNOWN                                  0

JFK          fatalities
UNKNOWN           0